@charset "UTF-8";

/*
#c5ebd6
#83elad
#3ddc84
#2fa866
#la5c37
#063d1e
*/

:root {
    --color0: #c5ebd6;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

}
body {
    background-color: var(--color3);
    

}